
<div class="big-container-2"> <!--- start big-container --->

  <div class="row card my-card">
    <div class="col s12 m4">   <!--- Start contact rider --->
      <ul>
        <li><h6 class="ubuntu-500 show-list-1">Rider</h6></li>
        <li><h5 class="ubuntu-700 show-list-2"><%= @ride.nickname %></h6></li>
      </ul>
    </div>

  <div class="col s12 m4">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Telephone</h6></li>
      <li><h5 class="ubuntu-700 show-list-2"><%= @ride.telephone %></h5></li>
    </ul>
  </div>

  <div class="col s12 m4">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Email</h6></li>
      <li><h5 class="ubuntu-700 show-list-2"><%= @ride.email %></h5></li>
    </ul>
  </div>                      <!--- End contact rider --->

  <div class="col s12 m4">    <!--- Start Info Route --->
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Date</h6></li>
      <li><h5 class="ubuntu-700 show-list-3"><%= @ride.date.in_time_zone("America/La_Paz").strftime("%a %b %e, %Y") %></h5></li>
    </ul>
  </div>

  <div class="col s6 m2">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Time</h6></li>
      <li><h5 class="ubuntu-700 show-list-3"><%= @ride.time.in_time_zone("America/La_Paz").strftime("%I:%M %P") %></h5></li>
    </ul>
  </div>

  <div class="col s6 m2">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Type</h6></li>
      <% if @ride.ride_type == 0 %>
            <li><h5 class="ubuntu-700 show-list-3">Road</h5></li>
      <% else %>
          <li><h5 class="ubuntu-700 show-list-3">Mountain</h5></li>
        <% end %>
    </ul>
  </div>

  <div class="col s6 m2">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Miles</h6></li>
      <li><h5 class="ubuntu-700 show-list-3"><%= @miles %></h5></li>
    </ul>
  </div>

  <div class="col s6 m2">
    <ul>
      <li><h6 class="ubuntu-500 show-list-1">Riders Count</h6></li>
      <li><h5 class="ubuntu-700 show-list-3" ><%= @members_count %></h5></li>
    </ul>
  </div>                    <!--- End Info Route --->



  <div id="border" class="col s12 m12 my-map">   <!--- start google map --->
    <div style='width:100%;' data-ride>
      <div   data-ride-map    style='width:100%;height:400px;'></div>
      <input data-ride-data   type='hidden' name='ride' value='<%= h @ride.route.to_json %>' />
    </div>
  </div>                       <!--- End google map --->

  <div class="col s12 m12">
    <h5 class="ubuntu-500 header-3">Join Up</h5>
    <h6 class="ubuntu-500 show-list-1">If you want to join in the route add your email in the space</h6>
  </div>

  <form method='POST' action="/rides/<%= @ride.id %>/members">

    <div class="input-field col s12 m5">
      <i class="material-icons prefix">email</i>
      <input id="" name="ride[members]" type="text" class="">
      <label for="icon_prefix">enter Email</label>
    </div>

    <div class="col s12 m12">
      <button class="btn waves-effect grey ubuntu-700 btn-sub" type="submit" name="action">submit
        <i class="fa fa-plus-circle "></i>
      </button>
    </div>

  </form>

</div>

</div> <!--- End big-container --->
